[Desktop Entry]
Type=Application
Terminal=false
Name=pulpo 
Name[en_US]=pulpo 
Categories=X-Notification;
Path=/opt/pulpo
Icon=/opt/pulpo//resources/pulpo.svg
Icon[en_US]=/opt/pulpo/resources/pulpo.svg
Exec=/opt/pulpo/pulpo -c /etc/pulpo.conf
